@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

#report {
    /*width: max(60%, 768px);
    margin-left: min(-30%, -389px);*/
    width: 1144px;
    margin-left: -572px;
    position: absolute;
    left: 50%;
    top: 64px;
    font-family: Noto Sans KR;
    font-style: normal;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(139, 139, 139, 0.25);
}

#top {
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    height: 110px;
    background: linear-gradient(180deg, #FBE9C3 0%, rgba(251, 233, 195, 0) 100%);
}

#personal {
    margin-top: 28px;
}

.mapimg {
    position: absolute;
    width: 540px;
    margin-top: 30px;
}

#map {
    margin-bottom: 708px;
}

.maplocate {
    margin-left: 242px;
}

.recommend_cell {
    margin-left: 60px;
    margin-top: 42px;
}

.recommend_title {
    font-weight: bold;
    border-bottom: 1px solid #211816;
    padding-bottom: 10px;
    font-size: 16px;
}

.recommend_content {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #9F9F9F;
    font-size: 14px;
}

#recommend {
    width: 1024px;
}

.label {
    float: right;
    margin-right: 60px;
    margin-top: 6px;
}

.labelc {
    float: right;
    margin-left: 9px;
    margin-top: -3px;
}

#circleB {
    float: right;
    width: 20px;
    height: 20px;
    background: #B9DAF9;
    border-radius: 50%;
}

#circleG {
    float: right;
    width: 20px;
    height: 20px;
    background: #DDDDDD;
    border-radius: 50%;
    margin-left: 38px;
}

.title {
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin-left: 52px;
    padding-left: 8px;
    padding-right: 8px;
    background: linear-gradient(#fff 50%, rgba(248, 234, 150, 0.73) 50%);
}

.content {
    font-weight: normal;
    margin-top: 20px;
    font-size: 14px;
    width: 1024px;
    margin-left: 60px;
}

.cell {
    margin-top: 60px;
}

body {
    background: #FAFAFA;
}

#per_info {
    margin-top: 20px;
    font-size: 14px;
    margin-left: 60px;
}

.per_title {
    font-weight: bold;
    padding-right: 12px;
}

.per_content {
    font-weight: normal;
    padding-right: 40px;
}


.path_title {
    border-bottom:1px solid #211816;
    padding-bottom: 10px;
    font-weight: bold;
    padding-top: 36px;
    width: 500px;
}

.path_content {
    border-bottom: 1px solid #9F9F9F;
    width: 151px;
}

.path_name {
    float: left;
    margin-left: 9px;
    margin-top: 31.5px;
    font-size: 14px;
}

.path_time {
    font-size: 12px;
}

.path_numbering {
    float: left;
    width: 20px;
    height: 20px;
    background: #221917;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 12px; 
    margin-top: 32px;
    font-weight: normal;
    border: none;
}

.path_bars {
    margin-left: 180px;
}

.path_top {
    margin-top: 19px;
    margin-bottom: 6px;
    height: 20px;
}

.path_bottom {
    margin-bottom: 19px;
    height: 20px;
}

#path_info {
    margin-left: 36px;
    margin-top: 6px;
    width: 1072px;
    border-spacing: 24px 0;
}

@media (max-width: 1143px) {
    #report {
        /*width: max(60%, 768px);
        margin-left: min(-30%, -389px);*/
        width: 100%;
        margin-left: -50%;
        top: 0px;
    }

    .maplocate {
        margin-left: calc(50% - 270px);
    }
    
    #recommend {
        width: calc(100% - 120px);
    }
    
    .content {
        width: calc(100% - 120px);
    }
    
    #path_info {
        width: calc(100% - 72px);
    }
}
